doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Profile
    link(rel="stylesheet" href="/profile.css")
  body
    .profile-container
      .dashboard
        h1 Welcome, #{user.email}!
        p Your profile details are here.
        a.logout(href="/") Logout
      .profile-details
        .profile-picture
          img(src="#{user.profilePicture}" alt="Profile Picture")
          input(type="file" id="profile-picture" name="profilePicture" accept="image/*")
          button(type="submit") Upload Picture
        .user-info
          h3 User Information
          ul
            li Name: #{user.name}
            li Email: #{user.email}
            li Joined: #{user.joinDate}
        .update-profile
          h3 Update Profile Information
          form(action="/update-profile" method="POST")
            label(for="name") Name:
            input(type="text" name="name" value="#{user.name}" required)
            br
            label(for="email") Email:
            input(type="email" name="email" value="#{user.email}" required)
            br
            button(type="submit") Update Profile
